.h1 {
  color:darkblue;
}
.menu{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.topnav {
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
    float: right;
    height: 70px;
    line-height: 70px;
    background: gray;
    text-align: center;
    list-style:none;
}
.topnav:hover {
    background-color: black;
    color:  bisque;
}
.button {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.logo_img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}


