/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnam a:hover {
    background-color: beige;
    color: black;
}
.topnav a.active {
     background-color: blue;
     color: white;
}

/* <style>
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
<style>

<div class="container">
    <div class="center">
        <button>Request A Device</button>
    </div> 
</div> */