{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>360Connect</title>

	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">

		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js">

		</script>
		<script src="{% static 'js/main.js' %}" defer>

		</script>

		<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>

<body class="sans-serif pv3 ph2 bg-light-red">

	<div class="mw9 center">



<!-- <a href='#' class="logo_img"><img src="{% static 'images/world.png' %}" alt="logo" width="200" height="200"></div> -->
    

		<div class='topnav'>
            <nav><a href='#' class="logo_img"><img src="{% static 'images/world.png' %}" alt="logo" width="200" height="200">
			    <div class='menu'>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'parent' %}">Parent</a></li>
                <li><a href="{% url 'school' %}">School</a></li>
                <li><a href="{% url 'donor' %}">Donor</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></nav></li>
		</div>

		
          
   
    </head>
  </body>
</html>
    {% block content %}
    {% endblock %}