{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>360Connect</title>

	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">

		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js">

		</script>
		<script src="{% static 'js/main.js' %}" defer>

		</script>

		<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>

<body class="sans-serif pv3 ph2 bg-light-red">

	<div class="mw9 center">
    

		

			 

  <nav class="circle">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Parents</a></li>
      <li><a href="#">Donors</a></li>
      <li><a href="#">School</a></li>
       <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
</section>

<center><a href="/parent/" style="font: bold 20px Arial;">Request A Device</a></center>

   
    </head>
  </body>
</html>
    {% block content %}
    {% endblock %}


    <a href="/SomeFolder/About.html">About Page</a>