{% extends "base.html" %}
{% block content %}

<p><h1>About Us</h1></p>

<div class="imgabout">
<center><img   srcset="https://cdn.pixabay.com/photo/2016/11/29/06/02/access-1867690_960_720.jpg 1x, https://cdn.pixabay.com/photo/2016/11/29/06/02/access-1867690_1280.jpg 1.333x" src="https://cdn.pixabay.com/photo/2016/11/29/06/02/access-1867690_960_720.jpg" alt="Access, Action, Adult, Apple, Blur, Business, Computer" width="300" height="300"></center> 
</div> 

<h3>Who we Are?<h3>

<div class="abouttext">
<a><p><h4>We intend to directly impact and solve the urgent problem of broadband deserts and the corresponding lack of access to 1:1 technological devices.</h4></p></a>

<a><p><a><h4>360_Connect will intentionally collaborate and partner with resources who possess connectivity and hardware to those in need. Our application will serve as a conduit for the vital process of accessing tools and connectivity bringing instruction and imagination to the underserved.</h4></p></a>

{% endblock %}