{% extends "base.html" %}

{% block content %}
<nav class="circle">
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="parent">Parents</a></li>
      
      <li><a href="school">School</a></li>
       <li><a href="contact">Contact Us</a></li>
    </ul>
  </nav>
</section>

<p><h1>Donor's</h1></p>


{% csrf_token %}
{{ form.as_p }}
<div>
<form action="{% url 'donor' %}" method="POST">
</div>   

<button class="ui button2">Submit</button>

{% endblock %}