{% extends 'base.html' %}

{% block content %}

<head>

	<body>
        <nav class="circle">
    <ul>
      <nav><li><a href="home">Home</a></li></nav>
      <nav><li><a href="about">About</a></li></nav>
      <li><a href="parent">Parents</a></li>
      <li><a href="donor">Donor</a></li>
      <li><a href="school">School</a></li>
      <li><a href="contact">Contact Us</a></li>
    </ul>
  </nav>
</section>


    <div class="button">
		<a href="{% url 'parent' %}" style="font: bold 20px Arial;">Request A Device</a> 
    </div>

            
    </head>
  </body>
</html>

{% endblock %}

 



    

