{% extends 'base.html' %}

{% block content %}

<head>

	<body>
		<div class='topnav'>
			<a href="{% url 'index' %}">Home</a>
			<a href="{% url 'parent' %}">Parent</a>
			<a href="{% url 'school' %}">School</a>
			<a href="{% url 'about' %}">About Us</a>
			<a href="{% url 'contact' %}">Contact Us</a>
			<a href="{% url 'donor' %}">Donor</a>
		</div>

		<style>
			.center {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		</style>

            </div> 
                <div class="header-overlay"></div>
                <div class="header-content"></div>
            </div>
    </div>
    </head>
  </body>
</html>

{% endblock %}

 



    

