<!DOCTYPE html>
<html>
  <head>
    <title>360 Connect</title>
  </head>
  <body>
    <button type="button">Request A Device</button>
  </body>
</html>



<h1 class="ui header">
  <div class="sub header">Welcome To 360 Connect</div>
</h1>

<button class="fluid ui button">Request A Device</button>

Welcome to 360 Connect


<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body> 
    <button type="button" style="font: bold 20px Arial;">Request A Device </button><br />
  </body>
</html>

<!-- https://pixabay.com/videos/studying-children-i-am-a-student-36544/ -->